<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: footer-layout.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/layout/inc/footer-layout.vue
  -->

<template>
  <footer></footer>
</template>

<script>
    export default {
        name: "footer-layout"
    }
</script>

<style scoped>

</style>
