<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: date-picker.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/date-picker/components/date-picker.vue
  -->

<template>
    <component :is="component"></component>
</template>

<script>
    import Script from './mixin'

    export default {
        name: "date-picker",
        mixins: [Script],
        data: () => ({
            component: null
        }),
        mounted() {
            this.loader()
                .then(() => {
                    this.component = () => this.loader()
                })
                .catch(() => {
                    this.component = () => import('./tpl/bulma')
                })
        },
        computed: {
            loader() {
                if (!this.type) {
                    return null
                }
                return () => import(`./tpl/${this.tpl}`)
            },
        }
    }
</script>

<style lang="scss">
    @import "../style/default";
    /*@import "../style/airbnb";*/
    @import "../style/month-select";
</style>
