<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: page-500.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/views/errors/page-500.vue
  -->

<template>
    <div class="container">
        <h1>Error 500</h1>
    </div>
</template>

<script>
    export default {
        name: "page-500"
    }
</script>

<style  scoped>
</style>
