<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: app-image.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/components/app-image.vue
  -->

<template>
    <figure :class="['image',ratio]"
            :style="{maxWidth:width, maxHeight:height}">
        <img src="@/resources/assets/img/picture.svg">
        <circles-loader
            v-if="isLoading"
            :bg="false"
            :parent="$el"
            color="#ddd"
            width="64px"
            height="64px">
        </circles-loader>
    </figure>
</template>

<script>

    export default {
        name: "app-image",
        props: {
            ratio: {
                type: String,
                default: 'is-4by3'
            },
            has: {
                type: String,
                default: ''
            },
            url: {
                type: String,
                default: ''
            },
            title: {
                type: String,
                default: ''
            },
            size: {
                type: String,
                default: ''
            },
            svrUrl: {
                type: String,
                default: _.env('RESOURCE_URL') + '/get-image/'
            },
            width: {
                type: String,
                default: ''
            },
            height: {
                type: String,
                default: ''
            }
        },
        watch: {
            has: function (vl) {
                this.getImageData()
            },
            url: function (vl) {
                this.getImageData()
            }
        },
        data: () => ({
            isLoading: false
        }),
        mounted() {
            this.$nextTick(() => {
                this.getImageData()
            })
        },
        methods: {
            getImageData() {
                const defaultImg = require('@/resources/assets/img/picture.svg')
                this.isLoading = true
                let image = new Image()
                image.alt = this.title
                const el = this.$el
                const that = this

                image.onload = function () {
                    if (el.querySelector('img'))
                        el.querySelector('img').remove()

                    el.appendChild(image)
                    that.isLoading = false
                }

                image.onerror = function (e) {
                    image.src = defaultImg
                    that.isLoading = false
                }

                if (this.url && !this.has) {
                    image.src = this.url
                } else if (this.has) {
                    const url = new URL(this.svrUrl + this.has)
                    const query_string = url.searchParams
                    if (this.size)
                        query_string.append('s', this.size)
                    query_string.append('c', this.APP_CUSTOMER)
                    query_string.append('a', this.USER_info._id)

                    image.src = decodeURIComponent(url.toString())
                }
            }
        }
    }
</script>

<style scoped>

</style>
