<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: master-nav.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/components/master-nav.vue
  -->

<template>
    <div class="tabs is-medium is-centered">
        <ul>
            <router-link tag="li" to="/dashboard" exact>
                <a>
                    <span class="icon is-medium">
                    <i class="icon-regular tachometer-alt icon-lg" aria-hidden="true"></i></span>
                    <span>{{$t('Tổng quan')}}</span></a>
            </router-link>
            <router-link tag="li" to="/customer/manager" v-if="USER_isRoot">
                <a>
                    <span class="icon is-medium">
                        <i class="icon-regular address-card icon-lg" aria-hidden="true"></i></span>
                    <span>{{$t('Khách hàng')}}</span>
                </a>
            </router-link>
            <router-link tag="li" to="/storage/manager">
                <a>
                    <span class="icon is-medium">
                        <i class="icon-regular save icon-lg" aria-hidden="true"></i></span>
                    <span>{{$t('Tài nguyên')}}</span>
                </a>
            </router-link>

            <router-link tag="li" to="/user/manager" v-if="USER_isAdmin">
                <a>
                    <span class="icon is-medium">
                        <i class="icon-regular users icon-lg" aria-hidden="true"></i></span>
                    <span>{{$t('Người dùng')}}</span>
                </a>
            </router-link>
            <router-link tag="li" to="/quizzes/manager">
                <a>
                    <span class="icon is-medium">
                        <i class="icon-regular tachometer-alt icon-lg" aria-hidden="true"></i></span>
                    <span>{{$t('Trắc nghiệm')}}</span>
                </a>
            </router-link>
            <router-link tag="li" to="/quizzes/manager">
                <a>
                    <span class="icon is-medium">
                        <i class="icon-regular tachometer-alt icon-lg" aria-hidden="true"></i></span>
                    <span>{{$t('Câu hỏi')}}</span>
                </a>
            </router-link>
            <router-link tag="li" to="/user/info">
                <a>
                    <span class="icon is-medium">
                        <i class="icon-regular user icon-lg" aria-hidden="true"></i></span>
                    <span>{{$t('Tài khoản')}}</span>
                </a>
            </router-link>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "master-nav"
    }
</script>

<style lang="scss" scoped>

</style>
