<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: About.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/views/About.vue
  -->

<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>
