<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: Home.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/views/Home.vue
  -->

<template>
  <div class="home">
    <router-link to="/dashboard">Dashboard</router-link>
  </div>
</template>

<script>

export default {
  name: 'home',
}
</script>
