<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: support.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/views/support.vue
  -->

<template>
    <div>
        Support page
    </div>
</template>

<script>
    export default {
        name: "support"
    }
</script>

<style scoped>

</style>
