<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: default-layout.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/layout/default-layout.vue
  -->

<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'default-layout'
  }
</script>

<style scoped>

</style>
