<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: master-layout.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/resources/layout/master-layout.vue
  -->

<template>
    <div class="master-layout">
        <master-nav></master-nav>
        <div class="home">
            <transition
                name="fade"
                mode="out-in">
                <div class="master-content">
                    <router-view/>
                </div>
            </transition>
        </div>
        <footer-layout></footer-layout>
    </div>
</template>

<script>
    import FooterLayout from './inc/footer-layout'
    import UserModel from "../../app/modules/user/models/UserModel";
    import MasterNav from "../components/master-nav";

    export default {
        name: 'master-layout',
        components: {MasterNav, FooterLayout},
        computed: {
            isRoot() {
                return this.$store.getters['userSession/userInfo'].type === UserModel.TYPE.root
            },
            isCustomer() {
                return this.$store.getters['userSession/userInfo'].type === UserModel.TYPE.customer
            },
            isAdmin() {
                return true
                // return this.$store.getters['userSession/userInfo'].type === UserModel.TYPE.admin
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>
