<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: dynamic-layout.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/dynamic-layout/dynamic-layout.vue
  -->

<template>
    <div :class="classnames" :style="{ cursor, userSelect }"
         @mousedown="onMouseDown">
        <slot></slot>
    </div>
</template>

<script>
    const LAYOUT_HORIZONTAL = 'horizontal';
    const LAYOUT_VERTICAL = 'vertical';

    export default {
        name: 'dynamic-layout',

        props: {
            layout: {
                type: String,
                default: LAYOUT_VERTICAL,
            },
            targetModel: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                isResizing: false,
            };
        },

        computed: {
            classnames() {
                return [
                    'dynamic-layout',
                    'layout-' + this.layout.slice(0, 1),
                    this.isResizing ? 'is-resizing' : '',
                ];
            },
            cursor() {
                return this.isResizing
                    ? this.layout === LAYOUT_VERTICAL ? 'col-resize' : 'row-resize'
                    : '';
            },
            userSelect() {
                return this.isResizing ? 'none' : '';
            },
        },

        methods: {
            onMouseDown({target: resizer, pageX: initialPageX, pageY: initialPageY}) {
                if (resizer && resizer.className && typeof resizer.className.match !== 'undefined')
                    if (
                        (!this.targetModel && resizer.className.match('dynamic-layout-resizer')) ||
                        (this.targetModel && resizer.className.match('resize-target'))
                    ) {

                        if (this.targetModel && resizer.className.match('resize-target'))
                            resizer = resizer.closest('.dynamic-layout-resizer')

                        let self = this;
                        let {$el: container, layout} = self;

                        let pane = resizer.previousElementSibling;
                        let {
                            offsetWidth: initialPaneWidth,
                            offsetHeight: initialPaneHeight,
                        } = pane;

                        // todo: Tạo hoạt hìn phần
                        pane.style.transition = 'all .37s linear;'

                        let usePercentage = !!(pane.style.width + '').match('%');

                        const {addEventListener, removeEventListener} = window;

                        const resize = (initialSize, offset = 0) => {
                            if (layout === LAYOUT_VERTICAL) {
                                const max = resizer.getAttribute('data-max-width') * 1
                                const min = resizer.getAttribute('data-min-width') * 1

                                let containerWidth = container.clientWidth;
                                let paneWidth = initialSize + offset;

                                let check = true
                                if (max && !min)
                                    check = paneWidth <= max
                                else if (min && !max)
                                    check = paneWidth >= min
                                else
                                    check = (paneWidth >= min) && (paneWidth <= max)

                                if (check) {
                                    return (pane.style.width = usePercentage
                                        ? paneWidth / containerWidth * 100 + '%'
                                        : paneWidth + 'px');
                                }
                            }

                            if (layout === LAYOUT_HORIZONTAL) {
                                let containerHeight = container.clientHeight;
                                let paneHeight = initialSize + offset;

                                return (pane.style.height = usePercentage
                                    ? paneHeight / containerHeight * 100 + '%'
                                    : paneHeight + 'px');
                            }
                        };

                        // This adds is-resizing class to container
                        self.isResizing = true;

                        // Resize once to get current computed size
                        let size = resize();

                        // Trigger paneResizeStart event
                        self.$emit('paneResizeStart', {pane, resizer, size});

                        const onMouseMove = function ({pageX, pageY}) {
                            size =
                                layout === LAYOUT_VERTICAL
                                    ? resize(initialPaneWidth, pageX - initialPageX)
                                    : resize(initialPaneHeight, pageY - initialPageY);

                            self.$emit('paneResize', {pane, resizer, size});
                        };

                        const onMouseUp = function () {
                            // Run resize one more time to set computed width/height.
                            size =
                                layout === LAYOUT_VERTICAL
                                    ? resize(pane.clientWidth)
                                    : resize(pane.clientHeight);

                            // This removes is-resizing class to container
                            self.isResizing = false;

                            removeEventListener('mousemove', onMouseMove);
                            removeEventListener('mouseup', onMouseUp);

                            self.$emit('paneResizeStop', {pane, resizer, size});
                        };

                        addEventListener('mousemove', onMouseMove);
                        addEventListener('mouseup', onMouseUp);
                    }
            },
        },
    };

</script>

<style lang="scss">
    .dynamic-layout {
        display: flex;

        &.layout-h {
            flex-direction: column;
        }

        &.layout-v {
            flex-direction: row;
        }
    }

    .dynamic-layout > div {
        /*position: relative;*/
        /*z-index: 1;*/
    }

    .dynamic-layout-resizer {
        /*background-color: #f4f4f4;*/
        /*background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23cccccc' fill-opacity='0.9' fill-rule='evenodd'/%3E%3C/svg%3E");*/
    }

    .layout-h > .dynamic-layout-resizer {
        width: 100%;
        height: 10px;
        margin-top: -5px;
        top: 5px;
        cursor: row-resize;
    }

    .layout-v > .dynamic-layout-resizer {
        width: 10px;
        margin-left: -7px;
        cursor: col-resize;
        z-index: 1;
    }
</style>
