<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: dynamic-layout-resizer.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/dynamic-layout/dynamic-layout-resizer.vue
  -->

<template>
    <div class="dynamic-layout-resizer" :data-min-width="minWidth" :data-max-width="maxWidth">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'dynamic-layout-resizer',
        props: {
            minWidth: {
                type: String,
                default: ''
            },
            maxWidth: {
                type: String,
                default: ''
            }
        }
    }
</script>
