<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: Twitch.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/mock-content/components/presets/Twitch.vue
  -->

<script>
  import MockContentLoading from '../MockContent.vue';

  export default {
    components: {
      MockContentLoading,
    },
  };
</script>

<template>
  <mock-content-loading v-bind="$attrs" :width="300" :height="225">
    <rect x="0" y="0" rx="3" ry="3" width="300" height="170" />
    <rect x="0" y="180" rx="2" ry="2" width="35" height="45" />
    <rect x="45" y="180" rx="2" ry="2" width="150" height="15" />
    <rect x="45" y="203" rx="2" ry="2" width="100" height="10" />
  </mock-content-loading>
</template>
