<template>
    <div>
        Blog2 view
    </div>
</template>

<script>
    import Blog2 from "../script/blog2";

    export default {
        name: "blog2",
        mixins: [Blog2]
    }
</script>

<style scoped>

</style>
