<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: bulma-dropdown.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/bulma/component/bulma-dropdown.vue
  -->

<template>
    <div :class="['dropdown','is-active', aligned]">
        <div class="dropdown-trigger" @click="toggleDrop">
            <slot name="trigger"></slot>
        </div>
        <transition enter-active-class="animated zoomIn faster2"
                    leave-active-class="animated zoomOut faster">
            <div class="dropdown-menu" id="dropdown-menu" role="menu" v-if="isActive">
                <div class="dropdown-content">
                    <slot></slot>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {fromEvent} from "rxjs";

    export default {
        name: "bulma-dropdown",
        props: {
            aligned: {
                type: String,
                default: ''
            }
        },
        data: () => ({
            isActive: false,
            dom2ClickEv: null
        }),
        watch: {
            isActive: function (val) {
                if (val) {
                    this.dom2ClickEv = fromEvent(document.body, 'click').subscribe(ev => {
                        if (!this.$el.contains(ev.target)) {
                            this.isActive = false
                        }
                    })
                } else {
                    if (this.dom2ClickEv)
                        this.dom2ClickEv.unsubscribe()
                }
            }
        },
        methods: {
            toggleDrop() {
                this.isActive = !this.isActive
            }
        }
    }
</script>

<style scoped>

</style>
