<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: bulma-dropdown-search.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/bulma/component/bulma-dropdown-search.vue
  -->

<template>
    <div :class="['dropdown', 'is-active',aligned]">
        <div class="dropdown-trigger">
            <button class="button" type="button" @click="toggleDrop"
                    aria-haspopup="true" aria-controls="dropdown-menu">
                <span>{{getSelectItem}}</span>
                <span class="icon is-small">
                    <i :class="['icon-regular', {'angle-down':!isActive,'angle-up':isActive}]"
                       aria-hidden="true"></i></span>
            </button>
        </div>
        <transition enter-active-class="animated zoomIn faster2"
                    leave-active-class="animated zoomOut faster">
            <div class="dropdown-menu" id="dropdown-menu" role="menu" v-if="isActive">
                <div class="dropdown-content">
                    <ajax-loader parent=".dropdown-content" v-if="isLoading"></ajax-loader>
                    <div class="dropdown-item search-input">
                        <input ref="searchInput" class="input" v-model="inputSearch">
                    </div>
                    <hr class="dropdown-divider">
                    <a v-for="item in dataItems"
                       @click.prevent="onSelectItem(item)"
                       href="#"
                       :class="{'dropdown-item':true,'is-active':((selectItem && item.value && selectItem.value === item.value) || (selectItem === item))}">
                        {{item.text?item.text:(item.value?item.value: item)}}
                    </a>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import webApi from "../../../app/base/WebApiService";
    import {fromEvent} from "rxjs";
    import AjaxLoader from "../../../resources/components/loaders/ajax-loader";

    export default {
        name: "bulma-dropdown-search",
        components: {AjaxLoader},
        model: {
            prop: 'value',
            event: 'change'
        },
        props: {
            placeholder: {
                type: String,
                default: 'Select...'
            },
            value: {
                type: [String, Object],
                default: ''
            },
            dataUrl: {
                type: String,
                default: ''
            },
            dataList: {
                type: Array,
                default: () => []
            },
            aligned: {
                type: String,
                default: ''
            }
        },
        data: () => ({
            isActive: false,
            isLoading: false,
            dom2ClickEv: null,
            inputSearch: '',
            selectItem: null,
            sourceToken: null,
            dataItems: []
        }),
        mounted() {
            this.$nextTick(() => {
                this.doSearch(true)
            })
        },
        computed: {
            getSelectItem() {
                if (this.selectItem) {
                    return this.selectItem.text ? this.selectItem.text :
                        (this.selectItem.value ? this.selectItem.value : this.selectItem)
                }

                return this.placeholder
            }
        },
        watch: {
            inputSearch: _.debounce(function (newVal, oldVal) {
                if (newVal !== oldVal) {
                    this.doSearch()
                }
            }, 350),
            isActive: function (val) {
                if (val) {
                    this.dom2ClickEv = fromEvent(document.body, 'click').subscribe(ev => {
                        if (!this.$el.contains(ev.target)) {
                            this.isActive = false
                        }
                    })
                } else {
                    if (this.dom2ClickEv)
                        this.dom2ClickEv.unsubscribe()
                }
            },
            /*value: function (newVal, oldVal) {
                if (newVal !== oldVal) {
                    if (this.dataItems.length && _.isObject(this.dataItems[0]))
                        this.selectItem = _.findLast(this.dataItems, {value: newVal})
                    else
                        this.selectItem = newVal
                }


            }*/
        },
        methods: {
            toggleDrop() {
                this.isActive = !this.isActive
                this.focusInput()
            },
            focusInput() {
                if (this.isActive)
                    this.$nextTick(() => {
                        this.$refs.searchInput.focus()
                    })
            },
            doSearch(select = false) {
                if (this.dataUrl) {
                    if (this.sourceToken)
                        this.sourceToken.cancel('Cancel...')

                    const CancelToken = this.$axios.CancelToken;
                    this.sourceToken = CancelToken.source()

                    this.isLoading = true
                    webApi.get(this.dataUrl, {
                        cancelToken: this.sourceToken.token,
                        params: {s: this.inputSearch}
                    }).then(res => {
                        this.dataItems = res.data
                        this.sourceToken = null
                        if (select) {
                            const tmp = this.value.value ? this.value.value : this.value
                            this.selectItem = _.findLast(this.dataItems, {value: tmp})
                        }

                        this.isLoading = false
                        this.focusInput()
                    }).catch(err => {
                        this.sourceToken = null
                        this.$addNotification({
                            title: this.$t('Lỗi tìm kiếm'),
                            content: this.$t('Hệ thống đang gặp sự cố, vui lòng thử lại.')
                        })
                        this.isLoading = false
                        this.focusInput()
                    })
                } else {
                    this.dataItems = _.filter(this.dataList, (item) => {
                        return _.includes(item.text, this.inputSearch)
                    })

                    if (select) {
                        const tmp = this.value.value ? this.value.value : this.value
                        this.selectItem = _.findLast(this.dataItems, {value: tmp})
                    }
                }
            },
            onSelectItem(val) {
                if ((this.selectItem && val.value !== this.selectItem.value) || !this.selectItem) {
                    this.selectItem = val
                    this.$emit('change', val)
                }

                this.isActive = false
            },
        }
    }
</script>

<style scoped>

</style>
