<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: Modal.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/bulma/component/Modal.vue
  -->

<template>

</template>

<script>
  export default {
    name: 'Modal'
  }
</script>

<style scoped>

</style>
