<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: bs4.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/date-picker/components/tpl/bs4.vue
  -->

<template>
    <div class="input-group flatpickr">
        <div class="input-group-prepend" v-show="calendarButton">
                    <span class="input-group-text has-btn" data-toggle>
                        <i class="icon-regular calendar"></i>
                    </span>
        </div>
        <input type="text" class="form-control input-date"
               @change="inputChange"
               :value="value"
               :placeholder="placeholder" data-input>
        <div class="input-group-append" v-show="clearButton && selectDate">
                    <span class="input-group-text has-btn" data-clear>
                        <span>&times;</span>
                    </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "bs4"
    }
</script>

<style scoped>

</style>
