<!--
  - Copyright (c) 2019.
  - Project: laravel-vuejs-spa
  - File: bulma.vue
  - Path: D:/projects/laravel-vuejs-spa/resources/js/plugins/date-picker/components/tpl/bulma.vue
  -->

<template>
    <div class="field has-addons">
        <p class="control">
            <button class="button is-outlined" type="button">
                <span class="icon"><i class="icon-regular calendar"></i> </span>
            </button>
        </p>
        <p class="control">
            <input type="text" class="input input-date"
                   @change="inputChange"
                   :value="value"
                   :placeholder="placeholder" data-input>
        </p>
        <p class="control">
            <button class="button is-outlined" type="button">
                <span class="icon"><i class="icon-regular delete"></i> </span>
            </button>
        </p>
    </div>
</template>

<script>
    export default {
        name: "bulma"
    }
</script>

<style scoped>

</style>
